[submodule "profile-card-component"]
	path = profile-card-component
	url = git@github.com:manuferreira/profile-card-component.git
[submodule "loruki-website"]
	path = loruki-website
	url = git@github.com:manuferreira/loruki-website.git
[submodule "tribute-page"]
	path = tribute-page
	url = git@github.com:manuferreira/tribute-page.git
